* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.table-container {
    width: 80%;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
    text-align: right; /* Menempatkan tombol di kanan */
    margin-bottom: 10px; /* Jarak antara tombol dan tabel */
}

.add-product-btn {
    padding: 10px 15px;
    background-color: #4CAF50; /* Warna hijau */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-product-btn:hover {
    background-color: #45a049; /* Warna hijau lebih gelap saat hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

thead {
    background-color: #3e8ed0;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    font-size: 1.1em;
    letter-spacing: 0.02em;
}

tbody tr:nth-child(even) {
    background-color: #f4f4f9;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
}

.edit-btn {
    background-color: #4caf50;
    color: #fff;
}

.delete-btn {
    background-color: #f44336;
    color: #fff;
    margin-left: 8px;
}

button:hover {
    opacity: 0.9;
}


/* Tambahan CSS untuk Formulir */

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3e8ed0;
}

.product-form .form-group {
    margin-bottom: 15px;
}

.product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.product-form input[type="text"],
.product-form input[type="number"],
.product-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
}

.submit-btn:hover,
.cancel-btn:hover {
    opacity: 0.9;
}

.back-btn {
    display: inline-block;
    margin-left: 10px; /* Jarak antara tombol Batal dan Kembali */
    padding: 10px 15px;
    background-color: #2196F3; /* Warna biru */
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.back-btn:hover {
    opacity: 0.9;
}

